$corPrincipal : #1b66ff;
$corSecundaria :#00cef5;

.card{
  width: 20em;
  height:50vh;
  color: #fff;
  background: #111;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  margin-bottom: 3vh;
  transition: all .5s ease !important;
  box-shadow: 0 0 10px 4px #000;
  cursor: pointer;
  &:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px 4px $corPrincipal;
  }
  img{
    width: 100%;
    height: 25vh;
    border-radius: 15px 15px 0 0 ;
  }
  .categoria{
    margin: 2.5vh 0 3vh;
    font-size: 1em;
    font-weight: bold;
    color: $corPrincipal;
  }
  .title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom:3vh;
    color: #777;
  }
  .desc{
    line-height: 1.5em;
    padding: .3vw;
  }
}

a{
  text-decoration: none;
}

