$corPrincipal : #1b66ff;
$corSecundaria :#00cef5;


@keyframes escrevendo {
  from { width: 0 }
  to { width: 8ch }
}

/* The typewriter cursor effect */
@keyframes cursorAnimado {
  0% { border-color: transparent }
  50% { border-color: $corPrincipal }
}


.home{
  .link{
    color: $corPrincipal;
    transition: .5s ease;
    &:hover{
      color: $corSecundaria;
    }
  }
  &Container{
    width: 80%;
    margin: 5vh auto;
    .sobre{
      height: 55vh;
      display: flex;
      justify-content: space-between;
    }
    .title{
      width: 8ch;
      white-space: nowrap !important;
      display: inline-block !important;
      color: $corPrincipal;
      font-size: 4em;
      border-right: 2.5px solid $corPrincipal;
      margin-bottom: 3vh;
      overflow: hidden;
      animation: 
        escrevendo 2.5s steps(14, end),
        cursorAnimado .8s infinite;
    }
    .text{
      color: #fff;
      line-height: 1.8em;
      font-size:1.2em;
      width: 80%;
      text-align: justify;
    }
    .subtitle{
      width:50%;
      text-align: center;
      color: $corPrincipal;
      background: #000;
      font-size: 5vh;
      margin: auto;
      padding: 2vw 1vw;
      border: 8px double $corPrincipal;
    }
    .projetos{
      width: 100%;
      &Container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 8vh 0;
        flex-wrap: wrap;
        gap: 3vh;
      }
      .link{
        display: flex;
        justify-content: center;
        margin-bottom: 5vh;
        font-size: 2em;
        p{
          display: inline-block;
          background: #000;
          padding: 1vh 2vh;
          border: 1px solid $corPrincipal;
          transition: all .5s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
    .conhecimentos{
      &Container{
        margin: 5vh 20%;
        ul{
          list-style: disc;
          li{
            color: $corPrincipal;
            font-size: 2em;
            margin: 1.5vh;
            p{
              font-size: .7em;
              color: $corSecundaria;
              margin-top: 1vh;
            }
          }
        }
      }
    }
  }
}

@media(max-width:830px){
  .home{
    width: 100vw;
    overflow: hidden;
  }
  .sobre{
    margin-top: 50vh;
    height:auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    .sobreInfo{
      width: 100%;
      text-align: center;
      .text{
        width: 100%;
        margin-bottom: 10vh;
      }
    }
    .AvatarContainer{
      text-align: center;
    }
   
  }
  .subtitle{
    width:max-content !important;
    font-size: 7vw;
    padding: 0;
  }
  .conhecimentos{
    &Container{
      margin: 0 !important;
      ul{
        li{
          font-size: 1.5em;
          margin: 5vh 1.5vh !important;
          border-radius: 10px;
          padding: 10px;
          p{
            font-size: .6em !important;
            text-align: left;
          }
        }
      }
    }
  }
}