$corPrincipal :#682cef;
$corSecundaria :#916bea;

.header{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 5vh 0 ;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 999;
  a{
    text-decoration: none;
  }
  .Logo{
    margin-left: 5vh;
    font-size: 6vh;
    font-weight: bold;
    color:$corPrincipal;
  }
  nav{
    margin-right: 5vh;
    ul{
      display: flex;
      gap: 2vw;
      li{
        transition: all .5s ease;
        font-size: 1.1em;
        a{
          color: $corPrincipal;
          transition: all .5s ease;
        }
        &:hover{
          transform: scale(1.2);
          a{
            color: $corSecundaria;
          }
        }
      }
    }
  }
}

.Menu{
  color: $corPrincipal;
  font-size: 2.5em;
  margin-right: 5vh;
  display: none;
}

.Mostrar{
  display: flex;
}

@media(max-width:650px){
  .header{
    flex-wrap: wrap;
    .Menu{
      display: block;
    }
    nav{
      margin-right: 0;
      display: none;
      width: 100%;
      background: rgb(0, 0, 0);
      padding: 2vh;
      border-bottom: 5px solid $corPrincipal;
      ul{
        flex-direction: column;
        li{
          text-align: center;
          margin: auto;
          padding: 1vh;
        }
      }
    }
  }
}