$corPrincipal :#682cef;
$corSecundaria :#916bea;


@keyframes Fade {
  0%   {background-color:#682cef;}
  25%  {background-color:#4315ae;}
  50%  {background-color:#2f0d80;}
  75%  {background-color:#4315ae;}
  100% {background-color:#682cef;}
}

.sobre{
  .title{
    text-align: center;
    padding-top:4vh;
    font-size: 8vh;
    animation: Fade 5s linear infinite ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
  }
  &Container{
    width: 90%;
    margin: 10vh auto;
    display: flex;
    gap: 8vh;
    .tecnologias{
      width: 20em;
      background: #000;
      padding:3vh;
      border: 1px solid $corPrincipal;
      h2{
        color: $corPrincipal;
        font-size: 2em;
      }
      ul{
        li{
          color: $corPrincipal;
          display: flex;
          align-items: center;
          gap: 2vh;
          margin: 2vh 0 ;
          font-weight: bold;
          .icon{
            font-size: 5vh;
          }
          
        }
      }
    }
    .sobreInfo{
      width: 50%;
      p{
        font-size: 1.2em;
        color: #f1f1f1;
        line-height: 1.7em;
        text-align: justify;
      }
    }
  }
  
}