
$corPrincipal :#682cef;
$corSecundaria :#916bea;

.novoProjeto{
  .title{
    text-align: center;
    color: $corPrincipal;
    padding-top:4vh;
    font-size: 8vh;
  }
  &Container{
    width: 50%;
    margin: 5vh auto;
    label{
      color: $corPrincipal;
      font-size: 1.8em;
    }
    input{
      padding:2vh 2vh;
      width: 100%;
      margin: 1.5vh 0;
    }
  }
}
